{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true,
    "es6": true
  },
  "plugins": ["jest", "prettier", "react"],
  "extends": ["eslint:recommended", "plugin:jest/recommended", "plugin:react/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    }
  },
  "rules": {
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-promise-reject-errors": 2,
    "prettier/prettier": 2,
    "strict": [2, "global"]
  },
  "settings": {
    "react": {
      "version": "16.6.3"
    }
  }
}
